* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  html {
    background: white;
    color: red;
    font-family: Menlo;
  }
  
  .controls {
    width: 100%;
    text-align: center;
  }
  
  .button {
    padding: .5em;
    font-size: 4vw;
    margin: 0 0.1em;
  }
  
  .button_right {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: right; */
    /* align-self: baseline; */
}

  .button:first-child {
      margin-left: 0;
  }
  
  .button:last-child {
      margin-right: 0;
  }
  
  .button:hover {
    color: white;
  }
  
  .stopwatch {
    top: 1em;
    font-size: 10vw;
    height: 100%;
    text-align: center;
    width: 100%;
  }
  
  .results {
    border-color: lime;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }


#time {
    display: none;
    text-align: center;
    font: bold 28px arial;
    color: #cc0000; 
    text-shadow: 2px 2px 3px #ccc;
}
#controls {
    width: 18%;
    margin-left: 41%;
    padding: 10px;
    background: linear-gradient(to right, #00f7ff, #b5ff60) !important;
    border: 1px solid rgba(0, 92, 255, 0.8);

}

input {
    font-weight: bold;
    padding: 3px 3px 0;
}

#stopwatch {
}

body { 
    font-family: arial;
    text-align: center;
    display: block;
    }   